# GAM 2.0 Testmodus
GAM_PROFILE=local
GAM_DB_URL=jdbc:mariadb://localhost:3306/kopfzentruminventardb_test
GAM_DB_USER=gam_test
GAM_DB_PASSWORD=gam_test_password
GAM_JWT_SECRET=CHANGE_ME_TEST_SECRET_MIN_32_CHARS
GAM_LBD_FILE=./config/beispiel.lbd.example
GAM_LOG_LEVEL=DEBUG
